<!--/* Modal window view for the credits. */-->

<div id="modal" name="modal" class="form-horizontal container-fluid" novalidate="true" centered-modal="true">
	<div class="modal-header">
		<div class="row">
			<div class="col-md-6 action">
				<h4>Credits</h4>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="credits">
				<div class="creditcontent">Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars
					Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star
					Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars
					Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star
					Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars
					Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star
					Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars
					Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars Star Wars</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" ng-click="cancel()">Ok</button>
	</div>
</div>
