<form id="modal" name="modal" class="container-fluid" novalidate="true" centered-modal="true">
  <!-- novalidate disables HTML5 native validation -->
  <div th:include="views/modals/fragments/modal-header :: header" th:remove="tag"></div>
  <div class="modal-body" ng-show="showContent">
    <div class="col-md-12">
      <select ui-select2="select2Options" name="to" class="form-control" ng-class="{'submitted' : $parent.submitted}" ng-model="opData.shiftId" data-placeholder="Select a Shift..." ng-required="true">
					<option value=""></option>
					<option ng-repeat="shift in opData.shifts | orderObjectBy: 'sequence':false:id" value="{{::shift.id}}">{{::shift.name}}</option>
				</select>
    </div>
    <div class="row">
      <div th:include="views/modals/fragments/modal-client-errors :: client-errors" th:remove="tag"></div>
    </div>
  </div>
  <div th:include="views/modals/fragments/modal-footer :: footer" th:remove="tag"></div>
  <div th:include="views/modals/fragments/modal-processing :: processing" th:remove="tag"></div>
  <div th:include="views/modals/fragments/modal-server-errors :: server-errors" th:remove="tag"></div>
</form>