<!DOCTYPE html>
<html ng-app="SelectBoard"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>SMART Operations Board - Board Selection</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" th:href="@{${beans.mvcResourceUrlProvider.getForLookupPath('/images/favicon.png')}}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{${beans.mvcResourceUrlProvider.getForLookupPath('/images/favicon.ico')}}" />

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" th:href="@{${beans.mvcResourceUrlProvider.getForLookupPath('/styles/bootstrap-3.1.1.min.css')}}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{${beans.mvcResourceUrlProvider.getForLookupPath('/styles/select2-3.4.8.css')}}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{${beans.mvcResourceUrlProvider.getForLookupPath('/styles/select2-bootstrap3.css')}}"></link>
	<link rel="stylesheet/less" type="text/css" th:href="@{${beans.mvcResourceUrlProvider.getForLookupPath('/styles/less/single-page-input.less')}}" />
	<link rel="stylesheet/less" type="text/css" th:href="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/loader/loading-bar.css')}}"/>
</head>
<body>
<!--	<script>
		less = {
			async: true
		};
	</script>-->

	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/less.min.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/jquery-2.1.0.min.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/underscore-1.6.0.min.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/angular-1.3.3.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/moment-2.7.0.min.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/scripts/modules/work-units-information.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/angular-resource-1.3.3.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/scripts/modules/selectboard.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/scripts/services/common/work-units.js')}}"></script>  
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/ui-bootstrap-tpls-0.11.0.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/scripts/modules/dsny-center-modal.js')}}"></script>	
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/scripts/factories/modal-position.js')}}"></script>	
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/scripts/directives/center-modal.js')}}"></script> 	  
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		angular.module('SelectBoard')
		.constant('serverConfig', {
	    		formActionUrl: /*[[@{/}]]*/
	    	});
	/*]]>*/
	</script>
	
	<div class="single-page-container" ng-controller="SelectBoardController">
		<div class="form-pane">
			<form id="selectBoard" name="selectBoard" novalidate="true" centered-modal="true" center-class="single-page-container">
				<div class="row form-group" ng-class="{'has-error': !dt}">
					<label class="col-md-12 text-left">Select Date</label>
					<div class="col-md-12">
						<div class="input-group datepicker">
							<input
								type="text" 
								class="form-control datepicker"
								name="date"
								ng-model="dt"
								datepicker-popup="MM/dd/yyyy" 
								is-open="opened" 
								ng-required="true"
								ng-click="open($event)"
								ng-change="changeDate(dt)"
								show-button-bar="false" /> 
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
						<span class="help-block">
							Date is required.
						</span>
					</div>
				</div>
				<div class="row form-group" ng-class="{'has-error': invalidAfterSubmit(selectBoard.workUnit.$invalid)}">
					<label class="col-md-12 text-left">Work Unit</label>
					<div class="col-md-12">	
						<select 
							ui-select2="select2Options" 
							class="form-control" 
							name="workUnit"
							ng-model="workUnit" 
							ng-class="{'submitted': submitted}"
							data-placeholder="Select a Work Unit"
							ng-required="true"
							ng-change="getLocations()">
							<option value=""></option>
							<option ng-repeat="workunit in workUnits" value="{{workunit.workunitCode}}">{{workunit.workunitDescription}}</option>
						</select>
						<span class="help-block">
							Work Unit is required.
						</span>
					</div>
				</div>
				<div class="row form-group" ng-class="{'has-error': invalidAfterSubmit(selectBoard.location.$invalid)}">
					<label class="col-md-12 text-left">Location</label>
					<div class="col-md-12">
						<select 
							ui-select2="select2Options" 
							class="form-control" 
							name="location"
							ng-model="location" 
							ng-class="{'submitted': submitted}"
							data-placeholder="Select a Location"
							ng-required="true">
							<option value=""></option>
							<option ng-repeat="l in unitlocations" value="{{l.code}}">{{l.description}}</option>
						</select>
						<span class="help-block">
							Location is required.
						</span>
					</div>
				</div>
				<div class="row form-group">
					<button type="submit" class="btn btn-default btn-spin" ng-click="submit(selectBoard.$invalid)" ng-disabled="loading">
						<span ng-hide="loading">Select Board</span>
						<div ng-show="loading" id="loading-bar-spinner">
						   <div th:include="views/fragments/spinner" th:remove="tag"></div>
						</div>
					</button>
				</div>
			</form>
		</div>
		<div id="footer">
			Copyright &copy; {{year}} Department of Sanitation New York City
			<br />
			All rights reserved.
		</div>
	</div>

	<!-- Load after DOM so page load appears faster -->
	
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/ui-bootstrap-tpls-0.11.0.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/select2-3.4.8.min.js')}}"></script>
	<script th:src="@{${beans.mvcResourceUrlProvider.getForLookupPath('/libs/angular-ui-select2-0.0.5.js')}}"></script>
</body>
</html>